apiVersion: apps/v1
kind: Deployment
metadata:
  name: homarr
  labels:
    app: homarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homarr
  template:
    metadata:
      labels:
        app: homarr
    spec:
      containers:
      - name: homarr
        image: ghcr.io/ajnart/homarr:0.16.0
        command: ["/bin/sh", "-c"]
        args:
          - |
            mv /app/data /app/data.bak
            ln -s /mnt/data /app/data
            export HOSTNAME=$(hostname)
            cd /app
            yarn db:migrate
            node server.js
        env:
        - name: BASE_URL
          value: "https://homarr.wc"
        ports:
          - containerPort: 7575
        volumeMounts:
        - mountPath: /mnt/data
          name: homarr-data
      volumes:
      - name: homarr-data
        persistentVolumeClaim:
          claimName: homarr-config