apiVersion: v1
kind: Service
metadata:
  name: homarr
  namespace: homarr
  labels:
    app: homarr
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 7575
    targetPort: http
    protocol: TCP
  selector:
    app: homarr
