apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - api-deployment.yaml
  - chatbot-deployment.yaml
  - nginx-deployment.yaml
  - nginx-configmap.yaml
  - services.yaml
