apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  ports:
    - port: 5000
  selector:
    app: cyberproject-api
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: chatbot
spec:
  ports:
    - port: 5173
  selector:
    app: cyberproject-chatbot
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  ports:
    - port: 80
  selector:
    app: cyberproject-nginx
  type: ClusterIP
