apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - storage.yaml
  - mariadb-deployment.yaml
  - mariadb-service.yaml
  - deployment.yaml
  - service.yaml
  - certificate.yaml
  - ingress.yaml
