apiVersion: v1
kind: Service
metadata:
  name: homeassistant
spec:
  selector:
    app: homeassistant
  ports:
    - name: http
      port: 8123
      targetPort: 8123
      protocol: TCP
      nodePort: 30123
    - name: homekit
      port: 21063
      targetPort: 21063
      protocol: TCP
      nodePort: 30063
  type: NodePort
