apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "68.x"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    prometheus:
      prometheusSpec:
        retention: 5d        # Reduced from 10d to save memory
        scrapeInterval: 60s  # Increased from 30s to reduce data points
    grafana:
      ingress:
        enabled: false
      extraObjects:
        - apiVersion: traefik.containo.us/v1alpha1
          kind: IngressRoute
          metadata:
            name: grafana
            namespace: monitoring
          spec:
            entryPoints:
              - websecure
            routes:
              - match: Host(`grs.hondo-dev.com`)
                kind: Rule
                services:
                  - name: kube-prometheus-stack-grafana
                    port: 80
            tls:
              secretName: grafana-tls-secret
        - apiVersion: traefik.containo.us/v1alpha1
          kind: IngressRoute
          metadata:
            name: grafana-local
            namespace: monitoring
          spec:
            entryPoints:
              - websecure
            tls:
              secretName: grafana-wc-tls
            routes:
              - match: Host(`grafana.wc`)
                kind: Rule
                services:
                  - name: kube-prometheus-stack-grafana
                    port: 80
