apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-config
data:
  settings.yml: |
    use_default_settings: true
    general:
      instance_name: "SearXNG"
    search:
      safe_search: 0
      autocomplete: "duckduckgo"
    server:
      limiter: false
      image_proxy: true
    ui:
      static_use_hash: true
      default_theme: simple
      theme_args:
        simple_style: dark
